<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="./../../style.css">
    <script type="module" src="./../script/login.js" defer></script>
</head>
<body>
    <main class="h-screen flex justify-center items-center bg-gray-100">
        <section class="w-2/6 h-auto bg-white shadow-md rounded-lg">
            <form class="flex flex-col justify-center items-center p-6">
                <div class="mb-4 flex flex-col justify-center items-center">
                    <label for="nombre" class="text-gray-700">Nombre:</label>
                    <input name="nombre" class="bg-gray-200 rounded-md px-4 py-2 w-48 focus:outline-none focus:ring focus:border-blue-300" type="text" placeholder="Nombre" autocomplete="off" required>
                </div>
                <div class="mb-4 flex flex-col justify-center items-center">
                    <label for="clave" class="text-gray-700">Clave:</label>
                    <input name="clave" class="bg-gray-200 rounded-md px-4 py-2 w-48 focus:outline-none focus:ring focus:border-blue-300" type="password" placeholder="Clave" autocomplete="off" required>
                </div>
                <div class="mb-4 flex flex-col justify-center items-center">

                </div>
                <button class="bg-blue-500 text-white font-semibold px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300">Iniciar</button>
            </form>
        </section>
    </main>
    
    
</body>
</html>